---
title: Scolarises
page: index
---

{% extends "layouts/_layout.html" %} {% block content %}

<div class="main">
  <section class="rate">
    <div class="wrapper__">
      <div class="container">
        <div class="info">
          <h2 class="anim">Scolarises is an open marketplace for English teachers</h2>
          <p class="anim">
            Our platform connects students with tutors, teachers, or simply someone to practice the language with.
          </p>
          <div class="btns anim">
            <button class="btn__green">Start Learning</button>
            <button class="btn__read">Read More</button>
          </div>
        </div>
        <div class="rate_img">
          <img src="../img/rate.svg" alt="rate" />
        </div>
      </div>
    </div>
  </section>
  <section class="whatIs">
    <div class="wrapper__">
      <div class="container">
        <div class="thumbUp">
          <img src="../img/thumbUp.svg" alt="thumbUp" />
        </div>
        <div class="info">
          <h2>What is an open marketplace?</h2>
          <p>
            We have no approval process or content limitations for teachers, which gives us the most diverse selection
            of classes.
          </p>
        </div>
      </div>
      <img class="marks" src="../img/marks.svg" alt="marks" />
    </div>
  </section>

  <section class="featers">
    <div class="wrapper__">
      <h2 class="anim">Unique features of an open marketplace</h2>
      <div class="container">
        <div class="block">
          <div class="_img">
            <img src="../img/earth.svg" alt="earth" />
          </div>
          <div class="info anim o">
            <h3 class="title">Learn from accredited teachers or language carriers around the globe</h3>
            <p class="add_info">
              We have both, real professors, and freelancers, providing you with an unmatched selection of classes.
            </p>
          </div>
        </div>
        <div class="block">
          <div class="_img">
            <img src="../img/star.svg" alt="earth" />
          </div>
          <div class="info anim t">
            <h3 class="title">Find a class that suits you</h3>
            <p class="add_info">Request a course tailored for your needs or browse through our diverse selection.</p>
          </div>
        </div>
        <div class="block">
          <div class="_img">
            <img src="../img/speaker.svg" alt="earth" />
          </div>
          <div class="info anim h">
            <h3 class="title">Find teachers via filtering and sorting</h3>
            <p class="add_info">You can find your ideal English class using our seamless search engine.</p>
          </div>
        </div>
        <div class="block">
          <div class="_img">
            <img src="../img/decision.svg" alt="earth" />
          </div>
          <div class="info anim f">
            <h3 class="title">You decide what you want to spend on a class</h3>
            <p class="add_info">Adjust your budget according to your need, and find your ideal teacher.</p>
          </div>
        </div>
      </div>
      <div class="btn_center">
        <button class="btn__green">Start Learning</button>
      </div>
    </div>
  </section>

  <section class="why">
    <div class="wrapper__">
      <div class="container">
        <div class="thumbUp">
          <img src="../img/boyyy.svg" alt="thumbUp" />
        </div>
        <div class="info">
          <h2>Why Scolaires?</h2>
          <p>We allow anyone to be a teacher, thus maintaining a massive English course marketplace.</p>
        </div>
      </div>
      <img class="marks" src="../img/marks.svg" alt="marks" />
    </div>
  </section>

  <section class="findTeacher">
    <div class="wrapper__">
      <div class="find_input anim">
        <img src="../img/inputFind.svg" alt="input" />
      </div>
      <div class="find_boyyy anim">
        <img src="../img/findBoyyy.svg" alt="boyyy" />
        <img src="../img/magnifier.svg" alt="magnifier" />
      </div>
      <div class="cards_img">
        <div class="card">
          <img src="../img/flower.svg" alt="flower" />
        </div>
        <div class="card">
          <img src="../img/graphs.svg" alt="graphs" />
        </div>
        <div class="card">
          <img src="../img/english.svg" alt="english" />
        </div>
        <div class="card">
          <img src="../img/abc.svg" alt="abc" />
        </div>
      </div>
      <div class="toForm">
        <img src="../img/toForm.svg" alt="toForm" />
      </div>
    </div>
  </section>
  <section class="join">
    <div class="join_us">
      <div class="wrapper__">
        <div class="container">
          <div class="info">
            <h2 class="anim">Join us now and get <span>1 free lesson</span></h2>
            <div class="circle">
              <img src="../img/fly.svg" alt="fly" />
            </div>
          </div>
          <div class="form_block">
            <form class="form__">
              <div class="container">
                <div class="block b_f_name">
                  <input type="text" id="f_name" name="_fname" class="_fname" />
                  <label for="f_name">First Name</label>
                </div>
                <div class="block b_l_name">
                  <input type="text" id="l_name" name="_lname" class="_lname" />
                  <label for="l_name">Last Name</label>
                </div>
                <div class="block b_email">
                  <input type="email" id="email" name="_replyto" class="email" novalidate />
                  <label for="l_name">Your Email</label>
                </div>
              </div>
              <div class="done">
                <img src="../img/done.svg" alt="done" />
              </div>
            </form>
            <div class="subm_btn">
              <button class="btn__green">Join Scholarises now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock %}
