<footer>
  <div class="wrapper__">
    <div class="container">
      <div class="logo">
        <a href="/">
          <img src="../../img/fullLogo.svg" alt="fullLogo" />
        </a>
      </div>
      <div class="info">
        <ul>
          <li>
            <a href="#"> Why Scolarises? </a>
          </li>
          <li>
            <a href="#"> Benefits </a>
          </li>
          <li>
            <a href="#">Teachers</a>
          </li>
        </ul>
      </div>
      <div class="socials">
        <div class="fb">
          <a href="#">
            <img src="../../img/fb.svg" alt="fb" />
          </a>
        </div>
        <div class="ld">
          <a href="#">
            <img src="../../img/ld.svg" alt="ld" />
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
