<header class="header">
  <div class="wrapper__">
    <div class="container_header">
      <div class="img_logo">
        <a href="/">
          <img src="../../img/Logo.svg" alt="logo" />
          <img src="../../img/leftLag.svg" alt="leftLag" class="leftLag" />
          <img src="../../img/rightLag.svg" alt="rightLag" class="rightLag" />
        </a>
      </div>
      <ul class="navigation">
        <li class="navi active">
          <a href="#">About us</a>
        </li>
        <li class="navi">
          <a href="#">Benefits</a>
        </li>
        <li class="navi">
          <a href="#">Teachers</a>
        </li>
        <li class="navi">
          <a href="#">Contact</a>
        </li>
        <li class="btn">
          <a href="#"><button class="btn__green">Start</button></a>
        </li>
      </ul>
      <div class="burger"></div>
    </div>
  </div>
</header>
